.body{
    color: black;
}
.header-content{
    background-color: rgba(240, 154, 73, 1);
}
.service_banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    margin: 5% auto;
    overflow: auto;
    /* top: 50vh; */
}

.venue_marriage{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#venue_marriage, #venue_sangeet, #venue_birthday, #venue_conference {
    scroll-margin-top: 100px;
}

.inner1, .inner2, .inner3, .inner4{
    display: flex;
    flex-wrap: wrap;
    gap: 25px 10px;
    padding: 20px;
    align-items: flex-start;
}

.inner {
    flex: 1 1 calc(25% - 20px);
    box-sizing: border-box;
    border: 1px solid #ddd;
    text-align: center;
    border-radius: 15%;
}

.inner{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10px;
    transition: transform 0.2s ease;
}

.inner:hover{
    box-shadow: 0.5px 0.5px 15px gray;
    border: rgb(0, 0, 0);
    transform: scale(1.01);
}

.inner img {
    object-fit: cover;
    border-radius: 25px 25px 0 0;
    max-height: 300px;
}

.inner h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px 0;
    max-width: 200px;
    max-height: 30px;
}

.booknow{
    width: 30%;
    padding: 10px;
    background-color: #f09a49;
    color: white;
    border-radius: 50px;
    text-decoration: none;
}